/*CSS for contact subpage ---------------------*/

/* Title */
.get-in-touch {
  text-align: center;
  font-size: 2em;
  color: #097392;
  font-weight: bold;
  margin: 0.7em 0 0.5em 00;
}

/* Captions for icons */
.mail, .phone {
  text-align: center;
  font-weight: bold;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

/* Icons */
.mail-img, .phone-img{
  border-width: 0;
  width: 48px;
}

/* Email contact form ---------------------------------
-------------------------------------------------------*/
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0 6px 0;
    resize: vertical;
}

input[type=submit] {
    background-color: #097392;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #99ccca;
    padding: 20px;
    margin: 0 5% 5% 5%;
}

/* Desktop properties for contact.html --------*/
@media only screen and (min-width: 768px) {
  .container {
    margin: 0 20% 5% 20%;
  }
