/*Authors: Rafal Maciejewski & Julia Derebecka*/
/*CSS for Typical Week subpage ---------------------*/

/* Desktop properties for typical_week.html --------*/
@media only screen and (min-width: 768px) {
  .row {
    display: flex;
  }

  .column {
    flex: 50%;
    padding: 5px;
  }
