/* Styles for desktops --------------------
------------------------------------------- */
@media only screen and (min-width: 768px) {
/* Page content arragement---------------*/
/* Divide website into areas */
#wrapper {
  grid-template-columns: 20% auto;
  grid-row-gap: 1em;
  grid-template-areas:
    "header header"
    "main_nav content"
}

/* Top of the page ----------------------*/
/* Navigation embeded into top of the page, next to logo */
header{
height:4em;
}

#menu_bar {
  display: none;
}

.homebutton {
  padding: 0;
  float: left;
  height:100%
}

#main_nav {
  display: block;
  position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
  height: auto;
  background-color: powderblue ;

}

.grid-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: auto;

}
nav ul {
  padding-inline-start: 0;
  padding-inline-end: 0;
}
footer{
  position: absolute;
}

nav ul button {
  margin: 0.6%;
}

.menu-title {
  display: none;
}
