/* Styles for desktops --------------------
------------------------------------------- */
@media only screen and (min-width: 768px) {
/* Page content arragement---------------*/
#wrapper {
  grid-template-columns: 20% auto;
  grid-row-gap: 2em;
  grid-template-areas:
    "header main_nav"
    "content content"
}



/* Top of the page ----------------------*/

#menu_bar {
  display: none;
}

.homebutton {
  padding: 0;
  float: left;
  height:100%
}

#main_nav {
  display: block;
  position: relative;
  height: 4.4em;
  background-color: #097392 ;
}

.grid-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;

}
nav ul {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

nav ul button {
  flex-grow: 1;
  margin: 0.6%;
}

.menu-title {
  display: none;
}
