/* Mobile-first styles -------------------------- */

body {
  color: #FFF0CE;
  background-color: #83B4B3;
}

header {

}

main article {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0 1em;

}

footer {
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



#wrapper {
  width: auto;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
}

a, a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: #F3E0DC;
}
/* Top of the page ------------------------------
-------------------------------------------------*/
.homebutton {
  padding: 0.5em 0 0.5em 0;
  width: 100%;
  margin: 0;
  background-color: #097392;
  text-align: center;
  color: #D55534;
}

#menu_bar {
  display: flex;
  flex-direction: row;
  padding:1% 0 1% 5%;
  margin: 0 0 0.5em 0;
  background-color: WHITE;
  color: #383838;
}

#menu_bar h2 {
  margin: auto;
}

/* Burger-menu ----------------------------------
-------------------------------------------------*/

.menu-title {
  text-align: center;
}
nav ul {
  width: 80%;
  list-style-type: none;
}
.grid-menu {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
}
.grid-menu-item {
  padding: 0.5em;
  border: 2px;
  border-style: solid;
<<<<<<< HEAD
  border-color: #D55534;
  background-color: #D55534;
  border-radius: 7%;
}

.a {
  grid-column: 1;
  grid-row: 1;
}

.b {
  grid-column: 2;
  grid-row: 1;
}

.c {
  grid-column: 3;
  grid-row: 1;
}

.d {
  grid-column: 1;
  grid-row: 2;
}

.e {
  grid-column: 2;
  grid-row: 2;
=======
  border-color: #E9BAAC;
  background-color: #E9BAAC;
>>>>>>> afbfefb3ca3b03dc951d57bbb32e0e2cc220049d
}

#main_nav {
  display: none;
	position: absolute;
	top: 4em;
	left: 0;
	background-color: #E9CCC3;
	width: 100%;
  color:#097392;
}

#main_nav a{
  color:#097392;
}
.with_nav #main_nav {
	display: block;
}

.access_aid {
  display: none;
 }

#access_nav {
	display: block;
	width: 40px;
	height: 0;
	padding-top: 40px;
	overflow: hidden;
	border: 1px solid #ccc;
  border-radius: 7%;
	background: white 10px 10px / 20px 20px no-repeat;

	background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
	background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
	z-index: 1;
}

.with_nav #access_nav {
	background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}
