/* Mobile-first styles -------------------------- */
/* Page content arragement ---------------------- */
/* Divide website into areas */
#wrapper {
  width: auto;
  margin: 0 auto;
  border: none;
  display: grid;
  grid-template-areas:
    "header"
    "menu_bar"
    "main_nav"
    "content"
}

header {
  grid-area: header;
}

#menu_bar {
  grid-area: menu_bar
}

#main_nav {
  grid-area: main_nav
}

main {
  grid-area: content;
}

#wrapper {
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "menu_bar"
    "content"
}

/* General tags --------------------------------- */
body {
  color: #000033;
  background-color: #83B4B3;
}

main article {
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  padding: 0 4.44%;

}

footer {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 2px solid #F3E0DC;
}

a, a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: #FFF0CE;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
/* Top of the page ------------------------------
-------------------------------------------------*/
.homebutton {
  padding: 4.44% 0 4.44% 0;
  width: 100%;
  margin: 0;
  border: 0;
  background-color: #097392;
  text-align: center;
  color: #D55534;
}

.homebutton span{
  font-family: 'Times New Roman',serif;
  font-size: 2.2em;
  color: #FFF0CE;
  font-weight: bold;

}

#menu_bar {
  display: flex;
  flex-direction: row;
  padding:1% 0 1% 5%;
<<<<<<< HEAD
  margin: 0 0 0.5em 0;
  background-color: #FFF0CE;
=======
  margin: 0 0 2.22% 0;
  background-color: WHITE;
>>>>>>> f189fcbbb227ed7e152df4864c263ca440514223
  color: #383838;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

#menu_bar h2 {
  margin: auto;
  text-align: center;
}

/* Burger-menu ----------------------------------
-------------------------------------------------*/
/* Navigation hidden until user clicks on "burger icon" */
.menu-title {
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}

nav ul button {
  padding: 0;
  border: 0;
  height: 54px;
  border-radius: 15px;
}

.grid-menu {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
}
.grid-menu-item {
  padding: 1em 0.5em;
  border: 2px;
  border-style: solid;
  border-color: #E9BAAC;
  background-color: #E9BAAC;
  border-radius: 7%;
}

.a {
  grid-column: 1;
  grid-row: 1;
}

.b {
  grid-column: 2;
  grid-row: 1;
}

.c {
  grid-column: 3;
  grid-row: 1;
}

.d {
  grid-column: 1;
  grid-row: 2;
}

.e {
  grid-column: 2;
  grid-row: 2;
}

#main_nav {
  display: none;
	position: absolute;
	top: 8.618103448275862%;
	left: 0;
	background-color: #E9CCC3;
	width: 100%;
  color:#E9BAAC;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

#main_nav a, h2{
  color:#097392;
  font-weight: bold;
  white-space: nowrap;
}
.with_nav #main_nav {
	display: block;
}

.access_aid {
  display: none;
 }

#access_nav {
	display: block;
	width: 40px;
	height: 0;
	padding-top: 40px;
	overflow: hidden;
	border: 1px solid #ccc;
  border-radius: 7%;
	background: white 10px 10px / 20px 20px no-repeat;

	background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
	background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
	z-index: 1;
}

.with_nav #access_nav {
	background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}
